{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    class User {
        constructor(uid, path, color, tool) {
            this.uid = uid;
            this.path = path;
            this.color = color;
            this.tool = tool;
        }
    }

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var uid = Date.now() % 10000;
    var loc = window.location;
    var wsStart = 'ws://'

    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }
    var endpoint = wsStart + loc.host + '/ws/draw';
    var socket = new WebSocket(endpoint);
    var params = Object.fromEntries(new URLSearchParams(loc.search))

    function getRandomColor(){
        return `#${Math.floor(Math.random()*16777215).toString(16)}`;
    }

    var all_users = [];
    var tool = new paper.Tool();
    var color = getRandomColor();
    var path = new paper.Path();


    tool.onMouseDrag = (event) => { //http://paperjs.org/reference/tool/ path examples
        // note: create standard path  
        path.strokeColor = color;
        path.strokeWidth = 5;
        path.add(event.point)

        // observe: way to pass non standard var as json 
        socket.send("{ \"x\" : "+ event.point.x +", \"y\" : "+ event.point.y +", \"uid\" : \"" + uid + "\", \"color\" : \"" + color + "\" }");
    }

    socket.onmessage = function(receivedMessage) {
        var rec = JSON.parse(receivedMessage.data);

        // note: find correct user to draw onto 'large' screen  
        var user = all_users.find(x => x.uid === rec.uid)

        if (user === undefined) {
            user = new User(rec.uid, new paper.Path(), rec.color)
            user.path.strokeColor = user.color;
            user.path.strokeWidth = 5;
            all_users.push(user)
        }  

        // note: draw onto screen 
        if (params.size === "large") {
            user.path.add([rec.x, rec.y]);
        } 
    }

    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>
</html>
